name: Build
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Ruby ${{ matrix.ruby }}. Rails ${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ["4.0", "3.4", "3.3"]
        version: ["72", "80", "81", "main"]

    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Setup project
        run: |
          mv Gemfile.${{ matrix.version }} Gemfile
          bundle install
          bundle update
      - name: Run test
        run: bundle exec rspec
